header {
    #title {
        font-family: 'Monoton', cursive;
        position: relative;
        h1 {
            font-size: 1.8rem;
        }
        #cart {
            font-size: 1.7rem;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    nav {
        ul {
            font-size: 1.5rem;
        }
    }
}